.typing_game {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    text-align: center;
}
.start_game {
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.sentence_label {
    font-size: 1.5rem;
}

#sentence_selector {
    font-size: 1.5rem;
}

.start_button {
    background-color: #f9a857;
    color: white;
    padding: 10px 24px;
    font-size: 20px;
    border-radius: 4px;
    border-color: #f9a857;
}

.start_button:hover {
    /*
    - Change opacity to 80%
    - Change mouse cursor to pointer
    */
    opacity: 80%;
    cursor: pointer;
}

.typing_component {
    padding: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid black;
    font-size: 2rem;
    text-align: center;
}