.navbar {
    background-color: blue;
    border-bottom: 15px solid gold;
    color: #FFF;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .title {
    margin: auto 16px;
}

.nav-buttons a {
    color: #FFF;
    font-size: 18px;
    margin-right: 32px;
    text-decoration: none;
}