.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.header {
    font-weight: 400;
    font-style: italic;
    text-align: center;
}

.top_three_cards, .all_cards {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}