/* Homepage styling */

.welcome {
    margin: 40px 0px;
    font-size: 25px;
    text-align: center;
}

.image {
    /* Use flexbox to center the image both horizontally and vertically */
    display: flex;
}